.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-list li {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-list li:hover {
  opacity: 1;
}

.play-list li::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-list li::before {
  color: #c5b358;
}

.play-list li.active::before {
  color: #679dad;
}

.player-icon,
.slider-icon,
.change-quote,
.mute .true {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.action.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.action.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.mute.true {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  background-image: url('../assets/svg/Volume.svg');
}

.mute.false {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  background-image: url('../assets/svg/Volume_off.svg');
}

.curr-time,
.duration {
  font-size: small;
}

.song-name {
  font-size: small;
  margin-left: 10px;
  width: 100px;
  margin-left: 40%;
}

.progress-bar {
  background-color: #679dad;
  border: solid 1px white;
  border-radius: 25%;
  height: 5px;
  width: 80px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-bar::-webkit-slider-thumb {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: white;
}

.volume {
  background-color: #679dad;
  border: solid 1px white;
  border-radius: 25%;
  height: 5px;
  width: 50px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.volume::-webkit-slider-thumb {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: white;
}
