@import url(modal.css);

.show-modal {
  background: url('../assets/svg/setting.svg');
  background-size: contain;
  -webkit-filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(288deg) brightness(104%) contrast(106%);
}

.modal {
  bottom: 0;
  left: 0;
  width: 400px;
  height: 500px;
}

label {
  display: block;
}