.show-modalList{
    display: block;
    border: none;
    background: url('../assets/svg/list.svg');
    background-size: contain;
    width: 32px;
    height: 32px;
    -webkit-filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(288deg) brightness(104%) contrast(106%);
}


.show-modalList:hover {
  opacity: 1;
}

.show-modalList:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.modalList {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 300px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7000;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

}

.modalList-body {
  position: relative;
  max-width: 300px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

.modalList:target {
  opacity: 1;
  visibility: visible;
}

.modalList:target .modalList-body {
  opacity: 1;
  transform: translate(0px, 0px);
}

.modalList-close-anchor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalList-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.closeList-btn{
  position: absolute;
  top: 20px;
  right: 30px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  background-image: url("../assets/svg/anchor.svg");
  -webkit-filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(288deg) brightness(104%) contrast(106%);
}

.closeList-btn:hover {
  opacity: 1;
}

.closeList-btn:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}


.head {
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.head:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #679dad;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 10px;
  background: #eee;
  font-size: 18px;
  color: black;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #679dad;
  color: white;
}